# Time zone
TZ=

########## Network UPS Tools ##########
# Username and password
UPS_USER=
UPS_PASSWORD=

# Driver name - https://networkupstools.org/stable-hcl.html
UPS_DRIVER=

# Invoke `lsusb` and find your UPS
# Bus 001 Device 003: ID 0764:0601 Cyber Power System, Inc. PR1500LCDRT2U UPS
# /dev/bus/usb/busnum/devnum
# USB device path is /dev/bus/usb/001/003
UPS_USB_DEVICE=
# ID vendorid:productid
# Vendor ID is 0764
UPS_VENDORID=

# Serial number physically printed on unit
UPS_SERIALNUM=


########## What's Up Docker ##########
# Docker Hub username
DOCKER_LOGIN=""
# Docker Hub login token (https://docs.docker.com/security/for-developers/access-tokens/)
DOCKER_TOKEN=""
# Web UI username
WUD_USERNAME=""
# htpasswd hash for WUD web UI login (only password hash, not username)
WUD_HTPASSWD_HASH=''
# IP of remote docker host to monitor
WUD_REMOTE_HOST=""


########## Network Shutdown (shutdown-network.sh) ##########
# Home Assistant webhook URL the shutdown script POSTs {title, body} to.
# e.g. http://homeassistant.lan:8123/api/webhook/warden-ups-shutdown
HA_WEBHOOK_ENDPOINT=""
