[Unit]
Description=Nvidia GPU Power Savings

[Service]
ExecStart=nvidia-smi --persistence-mode=1
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
