# HomeAssistant webhook endpoint to use for generic notifications
HA_NOTIFY_WEBHOOK_ENDPOINT=""

# Email where notifications will be sent to
EMAIL=""

# Directory where media files are stored (used for file permissions)
MEDIA_DIR=""

# Directory which contains the server docker-compose.yml file
SERVER_DIR=""

# Directory where Nextcloud files are stored (used for for file permissions/scanning)
NEXTCLOUD_FILES_DIR=""

# Lidarr credentials
LIDARR_URL=""
LIDARR_API_KEY=""
